:root {
    --bgColor: #d5e1df;
    --primaryColor: #e3eaa7;
    --secondaryColor: #b5e7a0;
    --borderColor: #86af49; 
    --numbersColor:rgb(0, 0, 0);
    --thirdColor: #bdcebe;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--bgColor);
}

.container-sup{
    display: flex;
    background-color: var(--bgColor);
    justify-content: center;
    height: 10vh;
    margin-top: 5px;
    margin-bottom: 25px;
}

.container-sup > h1{
    margin-top: 7px;
    font-size: 45px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: var(--numbersColor);
}

.container-calculator{
    display: flex;
    width: 100%;
    height: 80vh;
    background-color: var(--bgColor);
    flex-direction: column;
    align-items: center;

}

#calculator-screen{
    width: 79.3%;
    height: 15vh;
    background-color: var(--secondaryColor);
    border: var(--borderColor) solid 3px;
    border-radius: 11px;
    border-bottom: 2.5px;
    text-align: end;
    font-size: 45px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: var(--numbersColor);
    padding-right: 15px;
    font-size: 65px;
}

.calculator-buttons{
    height: 65vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border-radius: 11px;
    background-color: var(--bgColor);
}

.calculator-numbers{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calculator-operators{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.btn-n-,
.btn-o- {
    font-size: 50px;
    font-weight: 900;
}

.btn-n{
    background-color: var(--primaryColor);
    border: var(--borderColor) solid 3px;
    border-radius: 11px;
    width: 33.33%;
    font-size: 45px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: var(--numbersColor);
}

#bEqual{
    flex-grow: 1;
    background-color: var(--secondaryColor);
}

.btn-o{
    background-color: var(--thirdColor);
    height: 100px;
    width: 100%;
    border: var(--borderColor) solid 3px;
    border-radius: 11px;
    font-size: 45px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: var(--numbersColor);
}

.space{
    display: flex;
    width: 79.3%;
    align-self: center;   
    border: var(--borderColor) solid 7px; 
    border-radius: 11px;
}

