body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: black;

}

.container-sup{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    height: 10vh;
}

.container-sup > h1{
    margin-top: 7px;
    font-size: 35px;
}

.container-calculator{
    display: flex;
    width: 100%;
    height: 80vh;
    background-color: black;
    flex-direction: column;
    align-items: center;

}

#calculator-screen{
    width: 78.7%;
    height: 15vh;
    background-color: rgb(17, 168, 118);
    border: gray solid 9px;
    border-bottom: 2.5px;
    text-align: end;
    font-size: 45px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.calculator-buttons{
    height: 65vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    border: gray solid 5px;

}

.calculator-numbers{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;

}

.calculator-operators{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.btn-n-,
.btn-o- {
    font-size: 50px;
    font-weight: 900;
}

.btn-n{
    background-color: aqua;
    border: gray solid 6px;
    width: 33.33%;
    font-size: 45px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.btn-o{
    background-color: red;
    height: 100px;
    width: 100%;
    border: gray solid 5px;
    font-size: 45px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.space{
    display: flex;
    width: 79.3%;
    align-self: center;   
    border: gray solid 7px;
    
 
}

.btn-space{
    background-color: green;
    width: 50%;
    height: 5vh;
    font-size: 22px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}